## Python help function

In [1]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

## Defining Functions

In [2]:

def multiply(x,y):
    result = x*y 
    return result

In [3]:
res = multiply(4,5)
print(res)

20

## Variable Scope

#### Local Variable

In [5]:
def mul(x,y):
    result = x*y
    return result

In [6]:
print(mul(4,2))

8

In [7]:
print(result)

NameError: name 'result' is not defined

 The error is because the variable is local and cannot be accessed outside the function.

#### Global Variable

In [8]:
global result 
def multiply(x,y):
    result = x*y
    print(result)
    return result

In [9]:
print(mul(4,2))

8

# User Input

In [11]:
x = input()

 Daniel

In [12]:
print(x)

Daniel

In [20]:
z = input("Please Enter a number")

Please Enter a number 3

In [18]:
z = int(input("Please Enter a number"))

Please Enter a number 3

In [19]:
print(type(z))

<class 'int'>

## Exception Errors

In [22]:
first_num = 10
sec_num = 7
if first_num > sec_num :
    raise Exception(" First number should be less than the second number!")

Exception:  First number should be less than the second number!

In [24]:
x = 1
y = 0
z = x/y
print("Hello World")

ZeroDivisionError: division by zero

In [25]:
print(a)

NameError: name 'a' is not defined

In [26]:
2 + "a"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### Assertion Error

In [23]:
first_num = 10
sec_num = 7 
assert first_num < sec_num

AssertionError:

## Handling Exceptions

In [37]:
def div(x,y):
    try:
        result = x/y
    except:                        #the except helps handle the exception errors
        result = "Warning"
    return result

In [38]:
print(div(1,2))
print(div(1,"a"))
print("Hello")

0.5
Warning
Hello

In [40]:
def div(x,y):
    try:
        assert x==y 
        result = x/y
    except:
        result = "Can't divide by zero"
    return result
print(div(5,2))
print(div(5,0))
print("Hello World")

Can't divide by zero
Can't divide by zero
Hello World

#### Handling multiple exceptions

In [41]:
def div(x,y):
    try:
        result = x/y
        assert x >= y
    except ZeroDivisionError:
        result = "Can't Divide by zero"
    except AssertionError:
        print("Error, z is less than y")
    return result

print(div(6,3))
print(div(4,8))
print(div(5,0))
print("Hello World")

2.0
Error, z is less than y
0.5
Can't Divide by zero
Hello World

Now using the Except and else

In [50]:
def div(x,y):
    
    try:
        result = x/y
    except ZeroDivisionError:
        result = "Can't divide by zero"
    else:
        print("Else")
    return result

print(div(6,3))
print(div(4,8))
print(div(5,0))
print("Hello World")

Else
2.0
Else
0.5
Can't divide by zero
Hello World

In [51]:
def bool_return():
    try:
        return True
    finally:
        return False
bool_return()

False

In [55]:
def div(x,y):
    try:
        result = x / y
    except ZeroDivisionError:
        print("Division by zero")
    else:
        print("Result is", result)
    finally:
        print("Executing finally")

div(2,1)
div(2,0)
div("2","1")

Result is 2.0
Executing finally
Division by zero
Executing finally
Executing finally

TypeError: unsupported operand type(s) for /: 'str' and 'str'

# PYTHON ADVANCED FUNCTIONS

## Lambda Functions

In [56]:
div = lambda x,y:x/y
print(div(3,2))

1.5

In [57]:
def mul(x,y):
    return x*y
print(mul(3,4))

12

In [58]:
print(mul)

<function mul at 0x0000021714FD6E80>

In [60]:
mul_lambda = lambda x,y: x*y
print(mul_lambda(3,4))

12