# This are the basic Python syntax

In [1]:
x=2
y=5

print(y)

5

In [3]:
b=1\
+4\
-1

print(b)

4

# Writing line structure using semicolon

In [6]:
x=1; y=2; z=4

print(x); print(y); print(4)

1
2
4

## i) Comments

In [7]:
x=12
y=4
z=x-4 #this subtracts the number
"""
This is the first line of the comment
This is the second line
This is the third line"""

print(z)

8

## ii) Joining lines in python

In [8]:
x=8
y=8

z=x\
+5

print(z)

13

## iii) Multiple statements on a single line

In [10]:
x=5;y=13; z=y-x;print(z) #Not always preferred because of low code readability

8

## iv) Indentation

In [ ]:
foo = long_function_name(var1,var2,
                          var3,var4)

In [14]:
def long_function_one(var_one,
        var_two, var_three, var_four):
    print(var_one)

# STRINGS OVERVIEW

##### Here is how single or double quotations can affect the code

In [18]:
print("I'm not a programmer")
print('I\'m a programmer')

I'm not a programmer
I'm a programmer

In [20]:
first_str = "This is the first line \nThis is the second line"
print(first_str)

This is the first line
This is the second line

In [1]:
print("This is how the tab \t works")

This is how the tab 	 works

## String Manipulation

In [34]:
first_str = "Kiprono_"
sir = " Kiprono_ Yegon"
sec_str = "Yegon"
name = first_str + sec_str

print(name)

Kiprono_Yegon

In [35]:
name = first_str*3
print(name)

Kiprono_Kiprono_Kiprono_

In [36]:
first_str in sec_str

False

In [40]:
sec_str in sir

True

In [43]:
sec_str.capitalize()

'Yegon'

In [44]:
sec_str.lower()

'yegon'

In [45]:
len(first_str)

8

### String Indexing

In [46]:
firstName = "Kiprono"
print(firstName[-1])

o

In [47]:
firstName = "Kiprono"
print(firstName[0])

K

In [ ]:
firstName = "Kiprono"
print(firstName[9]) # The code gives an error because the number indexed is outside the number of characters in the string

### String Slicing

In [50]:
string = "Kiprono is learning Python"
print(string)

Kiprono is learning Python

In [51]:
print(string[0])

K

In [53]:
print(string[0:8])

Kiprono

In [55]:
string.count("o")

3

In [57]:
string.find("g")

18

In [61]:
print(string[-6:-1])

Pytho

## Boolean Expressions

In [62]:
x = True
type(x)

bool

In [64]:
x = 4
y = 8
(x == y)

False

## Printing Function

In [66]:
string = "This is a string"
print(string)

This is a string

In [67]:
x = 3
print(x)

3

In [69]:
print(f"The current value of X is {x}")

The current value of X is 3

In [71]:
string = "{first_name} is {action} python"
string.format(first_name = "Kiprono", action="reading")

'Kiprono is reading python'

# Arithmetic Operators

#### Arithmetic operators

In [11]:
first_num = 5
sec_num = 3.0

#Add
result = first_num + sec_num

print(result)
print(type(result))

8.0
<class 'float'>

In [12]:
# substract 
result_subtract = first_num - sec_num
print(result_subtract)
print(type(result_subtract))

2.0
<class 'float'>

In [14]:
result_div = first_num / sec_num
print(result_div)
print(type(result_div))

1.6666666666666667
<class 'float'>

In [16]:
result_mul = first_num * sec_num
print(result_mul)
print(type(result_mul))

15.0
<class 'float'>

In [17]:
result_rem = first_num % sec_num
print(result_rem)

2.0

In [18]:
result_divfloor = first_num // sec_num
print(result_divfloor)

1.0

### Comparison operators

In [19]:
fNum = 4
sNum = 5 

print(fNum == sNum)

False

In [20]:
fNum = 4
sNum = 5 

print(fNum != sNum)

True

In [22]:
fNum = 4
sNum = 5 
print(fNum >= sNum)

False

In [23]:
fNum = 4
sNum = 5 
print(fNum <= sNum)

True

#####  Rounding of in python

In [26]:

print((2.1 + 3.2) == 5.3)      #The output is False because of floating-point precision errors.

False

##### Solving floating-point precision errors

In [27]:
print(2.1 + 3.2)

5.300000000000001

In [28]:
print(5.300000000000001 ==5.3)

False

#### Logical Operators

In [29]:
x = 4 
y = 5
print( x == 5)

False

In [30]:
x = 4 
y = 5
print( not x == 5)

True

In [32]:
x = 4 
y = 5
print( x == 5 or y == 5)

True

In [33]:
x = 4 
y = 5
print( False or True)

True

In [34]:
x = 4 
y = 5
print(False and True)

False

In [35]:
empty_str = ""

bool(empty_str)

False

In [37]:
bool(empty_str) == False    #Checking "Equality" Topic on Truthiness and Equality

True

### Identity Operators

In [38]:
x = 1000
y = 1000

print(x ==y) #Equality Operator, comparing VALUES

True

In [39]:
print(x is y) ##identity, comparing VARIABLES (MEMORY ADDRESS)

False

In [40]:
id(x)

1789759757552

In [41]:
id(y)

1789759759536

The above "is" returns False, but when a value of less than 256 is used then it returns true.

In [42]:
x = 100
y = 100

x is y

True

In [44]:
id(y)
id(x) #they share the same memory address

140708409290760

## Membership Operators

In [46]:
x = "Kiprono"
y = "Kiprono Yegon"

x in y

True

In [47]:
x not in y

False

## Bitwise Operators

In [58]:
x = 3
y = 4

In [59]:
y = 0b100
int(y)

4

In [60]:
print(x | y)

7

In [61]:
 print(x & y)

0

In [62]:
print(x ^ y)

7

# Data Tyoes and Control Flow

### Lists

In [4]:
my_list  = [1, 2.4, "Kiprono Loves playing 8", 8.8, True]
print(my_list)
print(type(my_list))

[1, 2.4, 'Kiprono Loves playing 8', 8.8, True]
<class 'list'>

##### List slicing

In [6]:
list = [1,2,3]
list[1] = "kiprono"
print(list)

[1, 'kiprono', 3]

##### Lists are mutable(can be changed)

In [ ]:
string = "Python course"
string[0] = "A"

#Gives an error

### Tuples

In [10]:
#They are lists that are immutable
#Uses ()
tuple = (1, 2, 5.3)
print(tuple)
print(type(tuple))

(1, 2, 5.3)
<class 'tuple'>

In [ ]:
#When you try to slice it gives an error because it is immutable
tuple(1) = 4
print(tuple)

### Sets

In [15]:
my_set = {1, 2, 3, "broski"}

In [16]:
my_set

{1, 2, 3, 'broski'}

In [17]:
print(type(my_set))

<class 'set'>

In [12]:
# Sets are list but with elements that are unique, and they cannot be indexed
#they are mutable
my_set = {1, 2, 3, 4}
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

In [20]:
my_set = {1, 2, 3, 4}
my_set.pop()

1

In [21]:
print(my_set)

{2, 3, 4}

In [19]:
my_set = {1,1,2,2,3,4}
my_set

{1, 2, 3, 4}

sets do not repeat objects

# Dictionaries

In [22]:
# They are key-value pair data structures
my_dict = {1:2, "Kiprono":4, 2.3:["a",5,2.1]}
print(type(my_dict))
print(my_dict)

<class 'dict'>
{1: 2, 'Kiprono': 4, 2.3: ['a', 5, 2.1]}

In [24]:
my_dict["Kiprono"]

4

In [ ]:
print("Hello")
print(my_dict[0]) #It gives an error becauset there is no key pair "0"
print("Hello")

In [27]:
print("Hello")
print(my_dict.get(0)) #the 'get' function helps to check if there is the key value pair written.
print("Hello")

Hello
None
Hello